li{
    list-style: none;
}
#top-left{
    float: left;
    margin-left: 130px;
    width: 40%;
}
#top-right{
    width: 40%;
    float: right;
}
#header-top{
    color: rgb(248,248,248);;
}
#header-bottom{
    clear: both;
    height: 110px;
}
#logo{
    height: 110px;
    background:url("../images/logo.jpg") no-repeat ;
}
#sousou{
    margin-top: 30px;
}
table td{
    width: 120px;
    color: red;
    font-size: 15px;
}
.liHover{
    border-left: #E7E7E7 1px solid;
    border-top: #E7E7E7 1px solid;
    border-right: #E7E7E7 1px solid;
    border-bottom: #F8F8F8 2px dashed;
    z-index: 3;
}
nav li{
    position: relative;
}
nav li div{
    position: absolute;
    background:#F8F8F8;
    height:240px;
    width: 400px;
    margin-top: 14px;
    border: solid 1px #E7E7E7;
    left: 0;
    display: none;
    z-index: 2;
}

#container{
    margin-top: 10px;
}
#jumu{
     height: 400px;
    background: url("../images/learn.jpg") no-repeat ;
    background-size: 100% 100%;
}
#goodslist{
    margin-left:50px ;
}

